.Projects {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.Two-rows {
  width: 100%;
  z-index: 100;
}

.Projects .Title {
  color: #2196F3;
  font-weight: bold;
  letter-spacing: 0.7px;
  margin: 30px 0 !important
}

.Container-Projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 90%
}

.Card {
  background: white;
  min-height: 240px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 5px 10px;
  max-width: 480px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

}

.Project-title {
  margin: 20px 0;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.Project-desc {
  margin: 0 5px;
  margin-bottom: 15px;
}

.Project-type {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Project-type .Type{
  margin: 0 10px;
  padding: 0 5px;
  color: #000000;
  text-rendering: optimizeLegibility;
  margin-bottom: 1px;
  border-bottom: 2px solid #FF9800;
  text-transform: uppercase;
}

.Project-tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.Project-tags .Tag {
  background: #03A9F4;
  color: white;
  margin: 2px;
  padding: 5px 13px;
  border-radius: 50px;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-rendering: optimizeLegibility;
}

.Project-links {
  margin-bottom: 15px;
}

.Project-links a {
  color: #03A9F4;
}

.Project-app-link {
  margin-bottom: 15px;
}

.Project-app-link a {
  margin-bottom: 15px;
  color: #f44336;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 480px) {
  .Card {
    max-width: 90%;
  }
}