
.Great {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Greater h1 {
  margin: 0;
  text-align: left;
  font-weight: bold;
  font-size: 120px;
  color: white
}

.Presentation {
  height: 40px;
  overflow: hidden;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 50% 50%;
}

.Presentation-list{
  animation: showAll 15s infinite alternate;
}

@keyframes showAll {
  0.00% { transform: translateY(0px) }
  14.25% { transform: translateY(0px) }
  28.56% { transform: translateY(-40px) }
  42.83% { transform: translateY(-80px) }
  57.12% { transform: translateY(-120px) }
  71.39% { transform: translateY(-160px) }
  86.67% { transform: translateY(-200px) }
  100% { transform: translateY(-200px) }
}

.Presentation p{
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  
}

.Dev-text p{
  justify-content: flex-start !important
}

.Profile-image {
  position: absolute;
  bottom: 2%
}

.Profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: rotate(40deg);
}

@media(max-width: 720px) {

  .Greater h1 {
    font-size: 80px;
  }
  
}

@media(max-width: 480px) {

  .Greater h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 0 4px 3px rgba(0,0,0,.5)
  }
  
}

@media (max-height: 480px) {
  .Profile-image {
    display: none;
  }
}

